.loginpage_signup {
    font-size: 12px;
    line-height: 14px;
    margin-top: 12px;
    text-align: center;
}

.bold_text {
    font-weight: bold;
}

p {
    color: #8e8e8e;
    color: rgba(var(--f52,142,142,142),1);
    font-size: 12px;
    line-height: 16px;
    margin: 10px 40px;
    text-align: center;
}
